<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Tạo nội dung feedback</title>
    <div th:replace="fragments/core-css"></div>
    <link rel="stylesheet" href="vendor/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="css/create-feedback-content.css">
    <link href="css/progressbar-feedback.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer" id="page-top">
<!--navigation-->
<div th:replace="fragments/navbar-side"></div>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">Quản lý feedback</a>
            </li>
            <li class="breadcrumb-item active">Tạo mới feedback</li>
        </ol>
        <!--Progress-Bar-->
        <div class="modify-feedback-progressbar">
            <div class="row">
                <div class="col-sm-10">
                    <!--nav wizard-->
                    <ul class="nav nav-wizard">
                        <li class="progress-item"><a href="select-template"><span class="badge badge-step">1</span> Chọn
                            mẫu</a></li>
                        <li class="progress-item active"><a href="#"><span class="badge badge-step">2</span> Tùy chỉnh
                            nội dung</a>
                        </li>
                        <li class="progress-item">
                            <a href="modify-feedback-target"><span class="badge badge-step">3</span> Chọn các đối tượng</a>
                        </li>
                        <li class="progress-item"><a href="#"><span class="badge badge-step">4</span> Thêm đề xuất</a>
                        </li>
                        <li class="progress-item">
                            <a href="#"><span class="badge badge-step">5</span>Hoàn tất thông tin feedback</a>
                        </li>
                    </ul>
                    <!--end nav-wizard-->
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-group-sm to-previous-step">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-group-sm to-next-step">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <!--end progress bar-->
        <!--header-->
        <div class="row">
            <div class="col-12">
                <h1>Tạo nội dung cho feedback</h1>
            </div>
        </div>
        <!--end div header-->
        <!--div form builder-->
        <div class="row">
            <div class="offset-1 col-8 question-list-container">
                <div class="question-list-wrapper">
                    <div class="question-container">
                        <div class="question-wrapper">
                            <div class="toggle-bar-container">
                                <div class="toggle-bar-wrapper">
                                    <div class="delete-question-holder">
                                        <button class="btn-remove-question"><i class="fa fa-trash"></i> Xóa</button>
                                    </div>
                                    <div class="expand-edit-question-holder">
                                        <i class="btn-expand-edit fa fa-angle-down"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-question-container">
                                <div class="preview-question-wrapper">
                                    <div class="question-content-container">
                                        <div class="question-content-wrapper">
                                            <p class="question-content-paragraph">Tốc độ giảng dạy của giảng viên thế
                                                nào?</p>
                                            <span class="required-question" style="display:none"><sup>*</sup></span>
                                        </div>
                                    </div>
                                    <div class="answer-container">
                                        <div class="answer-wrapper">
                                            <div class='form-check'>
                                                <label class='form-check-label'>
                                                    <input class='form-check-input' type='radio' disabled> Đáp án 1
                                                </label>
                                            </div>
                                            <div class='form-check'>
                                                <label class='form-check-label'>
                                                    <input class='form-check-input' type='radio' disabled> Đáp án 2
                                                </label>
                                            </div>
                                            <div class='form-check'>
                                                <label class='form-check-label'>
                                                    <input class='form-check-input' type='radio' disabled> Đáp án 3
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="edit-question-container">
                                <div class="edit-question-wrapper">
                                    <div class="edit-panel-container">
                                        <div class="edit-panel-wrapper">
                                            <div class="form-group row">
                                                <label class="col-4 col-form-label text-right">Câu hỏi bắt buộc:</label>
                                                <div class="col-8" style="padding-top: 7px; padding-bottom:7px;">
                                                    <input class="required-checkbox" type="checkbox">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-4 col-form-label text-right">Nội dung: </label>
                                                <div class="col-8">
                                                    <textarea class="txtEditQuestion">Tốc độ giảng dạy của giảng viên thế nào?</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 item-menu-container">
                <div class="item-menu-wrapper">
                    <ul class="item-list">
                        <li class="item" id="radio-ele"><a href="#"><i class="fa fa-check-circle"></i> Nhóm radio</a>
                        </li>
                        <li class="item" id="checkbox-ele"><a href="#"><i class="fa fa-check-square"></i> Nhóm checkbox</a>
                        </li>
                        <li class="item" id="text-ele"><a href="#"><i class="fa fa-i-cursor "></i> Trường nhập văn
                            bản(đơn dòng)</a></li>
                        <li class="item" id="textarea-ele"><a href="#"><i class="fa fa-paragraph"></i> Trường nhập văn
                            bản(đa dòng)</a></li>
                        <li class="item" id="star-ele"><a href="#"><i class="fa fa-star"></i> Sao đánh giá</a></li>
                    </ul>
                </div>
            </div>
            <div class="offset-1 col-8">
                <div class="submit-container">
                    <div class="submit-wrapper">
                        <button class="btn btn-raised-primary">Lưu nội dung</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end div form builder-->
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer th:replace="fragments/footer"></footer>
</div>
</body>
<div th:replace="fragments/core-script"></div>
<script src="vendor/jquery-ui/jquery-ui.js" type="text/javascript"></script>
<script src="js/create-feedback-content.js" type="text/javascript"></script>
</html>
