<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="position" content="dashboard"/>
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Dashboard</title>
    <div th:replace="fragments/core-css"></div>
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">
    <link th:href="@{/vendor/datatables/responsive.dataTables.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/datatables/responsive.bootstrap4.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>

<body class="fixed-nav sticky-footer" id="page-top">
<!--navigation-->
<div th:replace="fragments/navbar-side"></div>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/dashboard}">Dashboard</a>
            </li>
        </ol>
        <div class="d-flex flex-row p-2 row col-12 justify-content-center">
            <div class="pie-card-wrapper">
                <div class="pie-card" th:each="pieChart: ${dashboardObj.pieCharts}">
                    <div class="pie-chart"
                         th:attr="data-chart-name=${pieChart.getNameList()}, data-chart-value=${pieChart.getValueList()}, data-chart-title=${pieChart.title}"
                         th:id="'pie-'+${#dates.createNow().getTime() + pieChartStat.count}"></div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row p-2 row col-12 justify-content-center">
            <div class="table-card">
                <p class="card-header">Danh sách các feedback của bạn</p>
                <div class="card-body">
                    <table class="table table-bordered table-responsive" id="tblFeedback">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên feedback</th>
                            <th>Kì học</th>
                            <th>Ngày bắt đầu</th>
                            <th>Ngày kết thúc</th>
                            <th>Trạng thái</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="feedback:${dashboardObj.feedbackList}"
                                  th:with="currDate=${#dates.createNow()}">
                            <tr class="feedback-table-row"
                                th:attr="data-scope=${feedback.feedbackByFeedbackId.typeByTypeId.description}, data-status=${feedback.conducted}?'Done':'Undone'">
                                <td th:text="${feedbackStat.count}"></td>
                                <td th:text="${feedback.feedbackByFeedbackId.feedbackName}"></td>
                                <td th:text="${feedback.feedbackByFeedbackId.semesterBySemesterId.title}"
                                    th:attr="data-start-date=${feedback.feedbackByFeedbackId.semesterBySemesterId.startDate.getTime()}"></td>
                                <td th:text="${#dates.format(feedback.feedbackByFeedbackId.startDate, 'dd-MM-yyyy')}"></td>
                                <td th:text="${#dates.format(feedback.feedbackByFeedbackId.endDate, 'dd-MM-yyyy')}"></td>
                                <td class="text-success" th:if="${feedback.conducted
                                        && (currDate.getTime() > feedback.feedbackByFeedbackId.endDate.getTime())}">Đã
                                    hoàn
                                    thành
                                </td>
                                <!--switch case-->
                                <td th:if="${!feedback.conducted
                                        && (currDate.getTime() < feedback.feedbackByFeedbackId.endDate.getTime())
                                        && (currDate.getTime() > feedback.feedbackByFeedbackId.startDate.getTime())}">
                                    <a th:href="@{/conduct-feedback/__${feedback.feedbackByFeedbackId.id}__}">Làm
                                        feedback <i class="fa fa-pencil"></i> </a>
                                </td>
                                <td class="text-danger"
                                    th:if="${!feedback.conducted
                                        && ((currDate.getTime() > feedback.feedbackByFeedbackId.endDate.getTime())
                                        || (currDate.getTime() < feedback.feedbackByFeedbackId.startDate.getTime()))}">
                                    Feedback đã quá hạn hoặc chưa bắt đầu
                                </td>
                                <td class="text-danger"
                                    th:if="${feedback.conducted
                                        && (currDate.getTime() < feedback.feedbackByFeedbackId.endDate.getTime())
                                        && (currDate.getTime() > feedback.feedbackByFeedbackId.startDate.getTime())}">
                                    <a th:href="@{/conduct-feedback/edit/__${feedback.feedbackByFeedbackId.id}__}">Làm
                                        lại feedback <i class="fa fa-edit"></i> </a>
                                </td>
                                <!--end switch case-->
                            </tr>
                        </th:block>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Tên feedback</th>
                            <th>Kì học</th>
                            <th>Ngày bắt đầu</th>
                            <th>Ngày kết thúc</th>
                            <th>Trạng thái</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <footer th:replace="fragments/footer"></footer>
</div>
<!-- /.content-wrapper-->
</body>
<div th:replace="fragments/core-script"></div>
<script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.responsive.min.js}"></script>
<script th:src="@{/vendor/datatables/responsive.bootstrap4.min.js}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script th:src="@{/js/dashboard.js}"></script>
</html>
