<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
    <title>Log in</title>
    <!-- Bootstrap core CSS-->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/css/custom-style.css}">
</head>

<body>
<img th:src="@{/img/Students.jpg}" id="main-container"/>
<div class="container">
    <div class="row justify-content-around">
        <div class="col-md-6 col-12">
            <img th:src="@{/img/img-logo-fe.jpg}" style="width:100%; height: auto"/>
        </div>
    </div>
    <div class="row justify-content-around" style="margin-top: 50px">
        <div class="col-md-6 col-12">
            <div class="loading-gif">
                <img th:src="@{/img/loading-gif-transparent-4.gif}" class="loading-img"/>
            </div>
            <div class="card text-center log-in-card">
                <div class="card-block">
                    <h4 class="card-title" style="color:#08AE9E">Vui lòng đăng nhập vào hệ thống</h4>
                    <p th:if="${param.error}" class="text-danger">
                        Tên hoặc mật khẩu không đúng
                    </p>
                    <hr/>
                    <form id="loginForm">
                        <div class="form-group row justify-content-center">
                            <label class="col-4 col-form-label text-right">Tên đăng nhập: </label>
                            <div class="col-8 input-group">
                                <input type="text" class="form-control" name="username" placeholder="Tên Đăng Nhập"/>
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <label class="col-4 col-form-label text-right">Mật khẩu: </label>
                            <div class="col-8">
                                <input type="password" class="form-control" name="password" placeholder="Mật khẩu"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="form-check-label col-8 offset-2 text-left">
                                <input type="checkbox" name="remember-me" class="form-check-input"/> Nhớ tài khoản
                            </label>
                        </div>
                        <button class="btn btn-submit col-12 btn-raised-primary" id="btnSubmit">
                            <b>Đăng nhập</b>
                        </button>
                    </form>
                    <br/>
                    <a href="#">Quên mật khẩu?</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin.min.js}"></script>
<script th:src="@{/js/login.js}"></script>

</html>