<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="position" content="create-feedback"/>
    <title>Modify Feedback Target</title>
    <!-- Bootstrap core CSS-->
    <div th:replace="fragments/core-css"></div>
    <!-- Custom styles for this template-->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">
    <link th:href="@{/css/progressbar-feedback.css}" rel="stylesheet">
    <link th:href="@{/css/modify-feedback-select-target.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/switch-button.css}">
</head>

<body class="fixed-nav sticky-footer" id="page-top">
<!-- Navigation bar left side-->
<div th:insert="fragments/navbar-side"></div>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Quản lí feedback</li>
            <li class="breadcrumb-item active">Tạo mới</li>
        </ol>

        <br>
        <!--title-->
        <div class="row">
            <input type="hidden" id="typeId" th:value="${feedback.typeByTypeId.id}"/>
            <!--<input type="hidden" id="typeId" value="2"/>-->
            <div class="col-sm-4">
                <a href="/sfms/modify-feedback/overview">
                    <button class="btn btn-to-select-conductors"><i class="fa fa-caret-left" aria-hidden="true"></i>
                        Hoàn tất
                    </button>
                </a>
            </div>
            <th:block th:switch="${feedback.typeByTypeId.id}">
                <div class="col-sm-4" th:case="'1'">
                    <h5 class="overview-title">Chọn chuyên ngành được feedback</h5>
                </div>
                <div class="col-sm-4" th:case="'2'">
                    <h5 class="overview-title">Chọn môn học được feedback</h5>
                </div>
                <div class="col-sm-4" th:case="'3'">
                    <h5 class="overview-title">Chọn lớp được feedback</h5>
                </div>
                <div class="col-sm-4" th:case="'4'">
                    <h5 class="overview-title">Chọn phòng ban được feedback</h5>
                </div>
            </th:block>
        </div>
        <br>
        <!--end title bar-->
        <!--tab content-->
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content" id="nav-tabContent">
                    <!--tab pane majors-->
                    <div class="tab-pane fade" id="nav-major" role="tabpanel" aria-labelledby="nav-majors-tab">
                        <!--table majors-->
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-7">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="tbl-majors" width="100%"
                                           cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Chuyên ngành</th>
                                            <th>Mã ngành</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th></th>
                                            <th>Chuyên ngành</th>
                                            <th>Mã ngành</th>
                                        </tr>
                                        </tfoot>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--end table majors-->
                    </div>
                    <!--end tab pane majors-->
                    <!--tab pane departments-->
                    <div class="tab-pane fade" id="nav-department" role="tabpanel"
                         aria-labelledby="nav-departments-tab">
                        <!--table departments-->
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-6">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="tbl-departments" width="100%"
                                           cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Phòng ban</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th></th>
                                            <th>Phòng ban</th>
                                        </tr>
                                        </tfoot>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--end table departments-->
                    </div>
                    <!--end tab pane departments-->
                    <!--tab pane course-->
                    <div class="tab-pane fade" id="nav-course" role="tabpanel"
                         aria-labelledby="nav-courses-tab">
                        <!--table courses-->
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                                <div class="row" id="filter-course-bar">
                                    <!--major-->
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-2" id="filter-course-major"></div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="tbl-courses" width="100%"
                                           cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Môn học</th>
                                            <th>Mã môn</th>
                                            <th>Chuyên ngành</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th></th>
                                            <th>Môn học</th>
                                            <th>Mã môn</th>
                                            <th>Chuyên ngành</th>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--end table courses-->
                    </div>
                    <!--end tab pane courses-->
                    <!--tab pane clazzes-->
                    <div class="tab-pane fade" id="nav-clazz" role="tabpanel" aria-labelledby="nav-clazzes-tab">
                        <!--filter bar-->
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <div class="row" id="filter-clazz-bar">
                                    <!--major-->
                                    <div class="col-sm-2" id="filter-clazz-major"></div>
                                    <!--course-->
                                    <div class="col-sm-2" id="filter-clazz-course"></div>
                                    <!--end courses-->
                                    <!--Semester-->
                                    <div class="col-sm-2" id="filter-clazz-semester"></div>
                                    <!--end semester-->
                                    <!--class name-->
                                    <div class="col-sm-2" id="filter-clazz-name"></div>
                                    <!--end classname-->
                                    <!--Lecturer-->
                                    <div class="col-sm-2" id="filter-clazz-lecturer"></div>
                                    <!--end lecturer-->
                                    <div class="col-sm-1">
                                        <select id="displayOpt">
                                            <option value="1" selected>Tất cả</option>
                                            <option value="2">Chưa chọn</option>
                                            <option value="3">Đã chọn</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <!--end filter bar-->
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="tbl-clazzes" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Lớp</th>
                                            <th></th>
                                            <th></th>
                                            <th>Môn học</th>
                                            <th>Mã môn</th>
                                            <th>Học kỳ</th>
                                            <th>Giảng viên</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th></th>
                                            <th>Lớp</th>
                                            <th></th>
                                            <th>Môn học</th>
                                            <th>Mã môn</th>
                                            <th>Học kỳ</th>
                                            <th>Giảng viên</th>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--end table responsive-->
                        </div>
                    </div>
                    <!--end tab pane clazzes-->
                </div>
            </div>
            <!--end nav-tab-->
        </div>
    </div>
</div>
<!-- /.container-fluid-->
<footer th:replace="fragments/footer"></footer>
<!--<datalist id="list-majors">-->
<!--<option th:each="major : ${allMajors}"-->
<!--th:text="${major.name+' - '+major.code}"></option>-->
<!--</datalist>-->
<!--<datalist id="list-semesters">-->
<!--<option th:each="semester : ${allSemesters}"-->
<!--th:text="${semester.title}"></option>-->
<!--</datalist>-->
<!--<datalist id="list-courses">-->
<!--<option th:each="course : ${allCourses}"-->
<!--th:text="${course.name+'-'+course.code}"></option>-->
<!--</datalist>-->
<!--<datalist id="list-lecturers">-->
<!--<option th:each="lecturer : ${allLecturers}"-->
<!--th:text="${lecturer.fullname+' - '+lecturer.code}"></option>-->
<!--</datalist>-->
<!-- Bootstrap core JavaScript-->
<div th:replace="fragments/core-script"></div>
<!-- Page level plugin JavaScript-->
<script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>
<!-- Custom scripts for this page-->
<script th:src="@{/js/sb-admin-datatables.min.js}"></script>
<script th:src="@{/js/select-feedback-target.js}"></script>
</div>
</body>

</html>
