<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <div th:replace="fragments/core-css"></div>
    <!-- dataTable -->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css">
    <link href="vendor/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css">

    <!-- Custom style -->
    <link href="css/select-template.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer" id="page-top">
<!-- Navigation-->
<div th:replace="fragments/navbar-side"></div>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">Quản lý feedback</a>
            </li>
            <li class="breadcrumb-item active">Tạo mới feedback</li>
        </ol>
        <div class="row">
            <div class="col-12">
                <h1>Chọn một template có sẵn</h1>
            </div>
        </div>
        <!-- div content -->
        <div class="row main-content-container">
            <!-- table div -->
            <div class="col-12 col-xs-12 col-md-12 col-lg-7 col-xl-7" style="border: 1px #868e96 solid ">
                <div class="card">
                    <h3 class="card-header">Danh sách các template có sẵn: </h3>
                    <div class="card-block">
                        <table id="availableTemplate" class="table table-responsive table-striped">
                            <thead>
                            <th>#</th>
                            <th>Tên template</th>
                            <th>Loại</th>
                            <th></th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Feedback cho môn PRJ321 lớp SE1067</td>
                                <td>Feedback lớp học</td>
                                <td>
                                    <button class="btn btn-preview">Preview ></button>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Feedback cho môn SWD301 lớp SE1069</td>
                                <td>Feedback lớp học</td>
                                <td>
                                    <button class="btn btn-preview">Preview ></button>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Feedback cho môn JPD111 lớp JS10123</td>
                                <td>Feedback lớp học</td>
                                <td>
                                    <button class="btn btn-preview">Preview ></button>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Feedback cho môn SWM391 lớp SE23912</td>
                                <td>Feedback lớp học</td>
                                <td>
                                    <button class="btn btn-preview">Preview ></button>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Feedback cho môn ITE301 lớp SE123213</td>
                                <td>Feedback lớp học</td>
                                <td>
                                    <button class="btn btn-preview">Preview ></button>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Feedback cho môn ACC101 lớp SB1067</td>
                                <td>Feedback lớp học</td>
                                <td>
                                    <button class="btn btn-preview">Preview ></button>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Feedback cho môn MLN101 lớp SE1067</td>
                                <td>Feedback lớp học</td>
                                <td>
                                    <button class="btn btn-preview">Preview ></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12" style="margin-top: 20px;margin-bottom:20px">
                    <button class="btn btn-select">
                        Tiếp tục với template đã chọn
                    </button>
                </div>
            </div>
            <!-- end table div -->
            <!-- arrow div -->
            <div class="col-12 col-xs-12 col-md-12 col-lg-1 col-xl-1 align-self-center text-center">
                <i class="fa fa-2x fa-arrow-right preview-arrow"></i>
            </div>
            <!-- end arrow div -->
            <!-- template preview div-->
            <div class="col-12 col-xs-12 col-md-12 col-lg-4 col-xl-4 template-preview justify-content-center">
                <!-- div template container -->
                <div class="template-container">
                    <!-- div loading container -->
                    <div class="loading-container">
                        <img src="img/loading-gif-transparent-4.gif" style="width:20%; height:auto">
                    </div>
                    <!-- end div loading container -->
                    <div class="card">
                        <div class="card-header">
                            Câu hỏi 1
                        </div>
                        <div class="card-block">
                            <p class="card-text">
                                Tốc độ giảng dạy của giảng viên có phù hợp với bạn hay không?
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="answer-1"> Quá nhanh
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="answer-1"> Nhanh
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="answer-1"> Vừa
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="answer-1"> Hơi chậm
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="answer-1"> Chậm
                                    </label>
                                </div>
                            </div>
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            Câu hỏi 2
                        </div>
                        <div class="card-block">
                            <p class="card-text">
                                Giáo án của giáo viên có đảm bảo kiến thức môn học không?
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="answer-2"> Đã đầy đủ và có
                                        những kiến thức thực tế bổ ích
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="answer-2"> Đã đầy đủ nhưng
                                        chưa có kiến thức thực tế nhiều
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="answer-2"> Chưa đầy đủ
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="answer-2"> Giáo viên bỏ và
                                        dạy lướt qua nhiều phần quan trọng
                                    </label>
                                </div>
                            </div>
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            Câu hỏi 3
                        </div>
                        <div class="card-block">
                            <p class="card-text">
                                Các giải đáp của bạn có được giải quyết vào lúc nào?
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox"> Ngay sau khi câu hỏi được đề ra
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox"> Sau giờ học
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox"> Trước giờ học
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox"> Không được giải đáp
                                    </label>
                                </div>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end div template container -->
            </div>
            <!-- end div template preview -->
        </div>
        <!-- end div main content -->
        <div class="row justify-content-center" style="margin-top: 20px">
            <div class="col-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                <button class="btn btn-new">... Tạo mới một feedback</button>
            </div>
        </div>
    </div>
    <!-- end div container-fluid -->
</div>
<!--footer-->
<div th:replace="fragments/footer"></div>
</div>
</body>
<div th:replace="fragments/core-script"></div>
<!-- dataTable -->
<script src="vendor/datatables/jquery.dataTables.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.js"></script>
<script src="vendor/datatables/dataTables.responsive.min.js"></script>
<script src="vendor/datatables/responsive.bootstrap4.min.js"></script>

<!-- Custom javascript -->
<script src="js/select-template.js"></script>

</html>