<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="position" content="publish-feedback"/>
    <title>Xem danh sách Feedback</title>
    <!-- custom style -->
    <link th:href="@{/css/view-list-feedback.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/vendor/datatables/dataTables.bootstrap4.css}">
    <div th:replace="fragments/core-css"></div>
</head>

<body class="fixed-nav sticky-footer" id="page-top">
<!-- Navigation-->
<div th:insert="fragments/navbar-side"></div>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/dashboard}">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">Quản lý feedback</a>
            </li>
            <li class="breadcrumb-item active">Xem danh sách Feedbacks</li>
        </ol>
        <!-- div content -->
        <!-- <div class="row">
             <div class="col-12">
                 <h1>Xem báo cáo</h1>
             </div>
         </div>-->
        <div class="row">

            <!-- div feedback content col-sm-12 col-12 col-md-9 col-xl-9 col-lg-12-->
            <div class="col-12">
                <h3 class="feedback-title pull-left" style="text-align: left">
                    Danh sách Feedbacks
                </h3>

            </div>
            <!-- end div container -->
        </div>
        <div class="row">
            <div class="col-12">
                <div class="toggle-bar-wrapper">
                    <!--<select id="filter-scope">-->
                    <!--<option value="">Lọc loại feedback</option>-->
                    <!--<option value="Phòng ban">Phòng ban</option>-->
                    <!--<option value="Chuyên ngành">Chuyên ngành</option>-->
                    <!--<option value="Môn học">Môn học</option>-->
                    <!--<option value="Lớp">Lớp</option>-->
                    <!--</select>-->
                    <a th:href="@{/select-template}" class="btn btn-raised-primary pull-right">Thêm feedback <i
                            class="fa fa-plus"></i></a>
                    <select class="filter-scope">
                        <option value="">Lọc loại feedback</option>
                        <option value="Phòng ban">Phòng ban</option>
                        <option value="Chuyên ngành">Chuyên ngành</option>
                        <option value="Môn học">Môn học</option>
                        <option value="Lớp">Lớp</option>
                    </select>
                </div>
                <div class="table-wrapper">
                    <table id="tblFeedback" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Tên feedback</th>
                            <th>Kì báo cáo</th>
                            <th>Từ-đến</th>
                            <th>Loại</th>
                            <th>Đối tượng được báo cáo</th>
                            <th>Tình trạng</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Tên feedback</th>
                            <th>Kì báo cáo</th>
                            <th>Từ-đến</th>
                            <th>Loại</th>
                            <th>Đối tượng được báo cáo</th>
                            <th>Tình trạng</th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <div th:replace="fragments/footer"></div>
    <div class="modal fade" id="modalPublish">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Xác nhận lại việc xuất bản</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Sau khi xuất bản, nếu feedback này vẫn còn hạn, người dùng có thể tiếp tục làm feedback này. Bạn có
                    chắc chắn muốn xuất bản feedback này không?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-switch" id="btnPublish">Xuất bản</button>
                    <button type="button" class="btn" data-dismiss="modal">Đóng</button>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="modalDepublish">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Confirm message -->
                <div class="modal-header">
                    <h4 class="modal-title">Xác nhận lại việc ngưng xuất bản</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Sau khi ngưng xuất bản, người dùng sẽ không thể làm feedback này. Bạn có chắc chắn muốn ngưng xuất
                    bản feedback này không?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-switch" id="btnDepublish">Ngưng xuất bản</button>
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <input type="hidden" id="txtFeedbackId">
    <div id="snackbar"></div>
</div>
</body>
<div th:replace="fragments/core-script"></div>

<!-- Custom javascript -->
<script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>
<script th:src="@{/js/view-feedback.js}"></script>
</html>