/*button style*/
.btn-raised-primary{
    color:#fff;
    background-color: #08AE9E;
    outline: none;
}
.btn-raised-primary:hover{
    background-color: #00877e;
    color: #FFFFFF;
}

.btn-flat-secondary{
    color: #08ae9e;
    background-color: #ffffff;
    border: 2px solid #08ae9e;

}
.btn-flat-secondary:hover{
    cursor: pointer;
    background-color: #08ae9e;
    color: #ffffff;
}

/*end button style*/

/*search bar*/
.search-container{
    align-items: center;
    height:40px;
}
.search-wrapper{
    height:40px;
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,0.2);
    border: 1px lightgrey solid;
}
.search-wrapper>input{
    margin-left:5px;
    margin-top: 10px;
    margin-bottom:10px;
    height:20px;
    width:85%;
    border: none;
}
.search-wrapper>input:focus{
    outline:none;
}
.search-wrapper>button{
    position:absolute;
    right:0;
    height:38px;
    background-color:transparent;
    width:10%;
    border: none;
    color: #08ae9e;
}
.search-wrapper>button:hover{
    background-color: #f2f2f2;
    color: #00877e;
    cursor: pointer;
}
.search-wrapper>button:focus{
    outline:none;
}
/*end search bar*/

/*navbar css*/
@media (min-width: 992px) {
    .navbar-nav.ml-auto {
        padding-right: 50px;
        right: 0;
    }

    .notification-dropdown {
        width: 250px;
    }

    .notification-dropdown > .dropdown-item {
        white-space: normal;
        border-top: 1px solid lightgrey;
    }

    /*.dropdown-header{*/
    /*white-space: normal;*/
    /*}*/
}

.text-notification {
    font-size: 20px !important;
    color: red;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
