body {
    height: 100%;
    width: 100%;
    padding-top: 50px;
}

.btn-status-undone {
    color: #fff;
    background-color: #5CB85C;
    width: 150px;
}

.btn-status-done {
    color: #fff;
    background-color: #5BC0DE;
    width: 150px;
}

.tab-menu-holder {
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
}

.tab-menu-item {
    font-size: 16px;
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    color: #424f5a;
    text-transform: uppercase;
    font-weight: 700;
    padding: 16px;
}

.more {
    font-size: 16px;
    flex-basis: 5%;
    border-radius: 200%;
    padding: 16px;
    text-align: center;
}

.more:hover {
    cursor: pointer;
    color: lightgrey;
}

.tab-menu-item.active {
    border-bottom: 3px solid #08ae9e;
}

.tab-menu-item:hover {
    cursor: pointer;
}